<div class='well'>
<%= form_for(order) do |f| %>
  <% if order.errors.any? %><!-- error陣列 -->
    <div id="error_explanation">
      <!-- pluralize記錯錯誤數量，複數錯誤就變成errors -->
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <!-- f.label產生一個前端的label
  f.text_field將輸入的東西綁定:name -->

  <div class="field">
    <%= f.label :name %>
    <!-- 丟參數概念定義class -->
    <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
  <!-- 丟參數概念定義class -->
    
    <%= f.submit(order.new_record? ? '新增訂單' : '修改訂單', class: 'btn btn-primary') %>
  </div>
<% end %>
</div>